TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TWELVEDATA_API_KEY=your_twelvedata_api_key
NEWSAPI_API_KEY=your_newsapi_api_key
FMP_API_KEY=your_fmp_api_key
DEFAULT_TIMEZONE=Europe/Istanbul
DEFAULT_PAIRS=XAU/USD
ALERT_SCAN_MINUTES=15
DAILY_PLAN_HOUR=8
